@font-face {
 font-family: 'Open Sans';
 src: url(../font/OpenSans-Regular.ttf);
 font-weight: 400;
}
@font-face {
 font-family: 'Open Sans';
 src: url(../font/OpenSans-SemiBold.ttf);
 font-weight: 600;
}
@font-face {
 font-family: 'Open Sans';
 src: url(../font/OpenSans-Bold.ttf);
 font-weight: 700;
}
@font-face {
 font-family: 'Open Sans';
 src: url(../font/OpenSans-ExtraBold.ttf);
 font-weight: 800;
}